<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saltlux.nac.elecdoc.ElecDocMapper">

    <resultMap id="CnElecDocResultMap" type="CnElecDoc">
        <result property="transferYear" column="TRANSFERYEAR"/>
        <result property="rcRfileNo" column="RC_RFILE_NO"/>
        <result property="rcRitemNo" column="RC_RITEM_NO"/>
        <result property="mngNo" column="MNGNO"/>
        <result property="detNo" column="DETNO"/>
        <result property="detConnNo" column="DETCONNNO"/>
        <result property="prodYear" column="PRODYEAR"/>
        <result property="orgFilePath" column="ORG_FILE_PATH"/>
        <result property="saveFileName" column="SAVE_FILE_NAME"/>
    </resultMap>

    <select id="findTargetDocuments" resultMap="CnElecDocResultMap">
        SELECT
            TRANSFERYEAR,
            RC_RFILE_NO,
            RC_RITEM_NO,
            MNGNO,
            DETNO,
            DETCONNNO,
            PRODYEAR,
            ORG_FILE_PATH,
            SAVE_FILE_NAME
        FROM CN_ELEC_DOC
        WHERE TRANSFERYEAR = #{transferYear}
          AND SAVE_FILE_NAME IS NOT NULL
          AND NOT EXISTS (
              SELECT 1
              FROM EXTRACT_ELEC_DOC E
              WHERE E.RC_RFILE_NO = CN_ELEC_DOC.RC_RFILE_NO
                AND E.RC_RITEM_NO = CN_ELEC_DOC.RC_RITEM_NO
                AND E.FILE_NAME = CN_ELEC_DOC.SAVE_FILE_NAME
                <choose>
                    <when test="retryFail">
                        AND E.EXTRACT_STATUS = 'PASS'
                    </when>
                    <otherwise>
                        AND E.EXTRACT_STATUS IN ('PASS', 'FAIL')
                    </otherwise>
                </choose>
          )
        ORDER BY RC_RFILE_NO, RC_RITEM_NO, SAVE_FILE_NAME
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <insert id="upsertExtractDocument" parameterType="ExtractElecDoc">
        INSERT INTO EXTRACT_ELEC_DOC (
            FILE_NAME,
            ZIP_ENTRY_FILE_NAME,
            RC_RFILE_NO,
            RC_RITEM_NO,
            ZIP_SEQ,
            CONTENTS,
            IMG_DATAS,
            FILE_TYPE,
            FILE_GUBUN,
            INDEXING_CONTENTS,
            HWP_SUB_TITLE,
            DATA_YEAR,
            QUEUE_STATE,
            HAS_CONTENTS,
            EXTRACT_STATUS,
            EXTRACT_ERR_MSG,
            CREATE_DATE,
            UPDATE_DATE
        ) VALUES (
            #{fileName},
            #{zipEntryFileName},
            #{rcRfileNo},
            #{rcRitemNo},
            #{zipSeq},
            #{contents},
            #{imgDatas},
            #{fileType},
            #{fileGubun},
            #{indexingContents},
            #{hwpSubTitle},
            #{dataYear},
            #{queueState},
            #{hasContents},
            #{extractStatus},
            #{extractErrMsg},
            NOW(),
            NOW()
        )
        ON DUPLICATE KEY UPDATE
            ZIP_ENTRY_FILE_NAME = VALUES(ZIP_ENTRY_FILE_NAME),
            ZIP_SEQ = VALUES(ZIP_SEQ),
            CONTENTS = VALUES(CONTENTS),
            IMG_DATAS = VALUES(IMG_DATAS),
            FILE_TYPE = VALUES(FILE_TYPE),
            FILE_GUBUN = VALUES(FILE_GUBUN),
            INDEXING_CONTENTS = VALUES(INDEXING_CONTENTS),
            HWP_SUB_TITLE = VALUES(HWP_SUB_TITLE),
            DATA_YEAR = VALUES(DATA_YEAR),
            QUEUE_STATE = VALUES(QUEUE_STATE),
            HAS_CONTENTS = VALUES(HAS_CONTENTS),
            EXTRACT_STATUS = VALUES(EXTRACT_STATUS),
            EXTRACT_ERR_MSG = VALUES(EXTRACT_ERR_MSG),
            UPDATE_DATE = NOW()
    </insert>

</mapper>
