<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.saltlux.nac.subject.SubjectPolicyMapper">

    <resultMap id="SubjectPolicyCandidateResultMap" type="com.saltlux.nac.subject.SubjectPolicyCandidate">
        <result property="itemCd" column="ITEM_CD"/>
        <result property="subClsNm" column="SUB_CLS_NM"/>
        <result property="topicNm" column="TOPIC_NM"/>
        <result property="prevGovNm" column="PREV_GOV_NM"/>
        <result property="ternStart" column="TERN_START"/>
        <result property="ternEnd" column="TERN_END"/>
        <result property="description" column="DESCRIPTION"/>
    </resultMap>

    <resultMap id="PolicyDetailMappingDictionaryResultMap" type="com.saltlux.nac.subject.PolicyDetailMappingDictionary">
        <result property="govTaskNo" column="GOV_TASK_NO"/>
        <result property="govTaskNm" column="GOV_TASK_NM"/>
        <result property="detailTaskCd" column="DETAIL_TASK_CD"/>
        <result property="detailTaskNm" column="DETAIL_TASK_NM"/>
        <result property="directMappingTerms" column="DIRECT_MAPPING_TERMS"/>
        <result property="conditionalMappingTerms" column="CONDITIONAL_MAPPING_TERMS"/>
        <result property="expandCandidateTerms" column="EXPAND_CANDIDATE_TERMS"/>
        <result property="requiredCombineTerms" column="REQUIRED_COMBINE_TERMS"/>
        <result property="blockTerms" column="BLOCK_TERMS"/>
        <result property="note" column="NOTE"/>
        <result property="leadAgency" column="LEAD_AGENCY"/>
    </resultMap>

    <select id="findSubjectCandidates" resultMap="SubjectPolicyCandidateResultMap">
        SELECT
            ITEM_CD,
            SUB_CLS_NM,
            TOPIC_NM,
            PREV_GOV_NM,
            TERN_START,
            TERN_END,
            DESCRIPTION
        FROM TB_SUBJECT_ITEM_CODE
        WHERE CLS_CD = #{clsCd}
          <choose>
              <when test="productionDate != null and productionDate != ''">
                  AND TERN_START IS NOT NULL
                  AND TERN_END IS NOT NULL
                  AND SUBSTRING(REPLACE(REPLACE(REPLACE(REPLACE(TERN_START, '-', ''), '.', ''), '/', ''), ' ', ''), 1, 8)
                      <![CDATA[<=]]>
                      SUBSTRING(REPLACE(REPLACE(REPLACE(REPLACE(#{productionDate}, '-', ''), '.', ''), '/', ''), ' ', ''), 1, 8)
                  AND SUBSTRING(REPLACE(REPLACE(REPLACE(REPLACE(TERN_END, '-', ''), '.', ''), '/', ''), ' ', ''), 1, 8)
                      <![CDATA[>=]]>
                      SUBSTRING(REPLACE(REPLACE(REPLACE(REPLACE(#{productionDate}, '-', ''), '.', ''), '/', ''), ' ', ''), 1, 8)
              </when>
              <otherwise>
                  AND START_YEAR IS NOT NULL
                  AND END_YEAR IS NOT NULL
                  AND #{productionYear} IS NOT NULL
                  AND #{productionYear} != ''
                  AND START_YEAR <![CDATA[<=]]> #{productionYear}
                  AND END_YEAR <![CDATA[>=]]> #{productionYear}
              </otherwise>
          </choose>
        ORDER BY PREV_GOV_CD, SUB_CLS_CD, TOPIC_CD, ITEM_CD
    </select>

    <select id="findPolicyDetailMappingDictionary" resultMap="PolicyDetailMappingDictionaryResultMap">
        SELECT
            GOV_TASK_NO,
            GOV_TASK_NM,
            DETAIL_TASK_CD,
            DETAIL_TASK_NM,
            DIRECT_MAPPING_TERMS,
            CONDITIONAL_MAPPING_TERMS,
            EXPAND_CANDIDATE_TERMS,
            REQUIRED_COMBINE_TERMS,
            BLOCK_TERMS,
            NOTE,
            LEAD_AGENCY
        FROM TB_SUBJECT_ITEM_CODE
        WHERE CLS_CD = 'POLICY'
          AND PREV_GOV_CD = 'LMB'
          AND LEAD_AGENCY LIKE CONCAT(#{leadAgencyPrefix}, '%')
        ORDER BY GOV_TASK_NO, DETAIL_TASK_CD
    </select>

</mapper>
